form {
    padding: 0 3rem;
}

.control {
    margin-top: 1rem;
}

.button-block {
    margin-top: 1rem;
    width: 100%;

    button {
        background-color: #3E606F;
        color: #FCFFF5;
        display: block;
        margin-left: auto;
    }
}
